[package]
name = "health-readiness"
version = "0.1.0"
edition = "2021"

[dependencies]
errors = { path = "../errors" }
httpw = { path = "../httpw" }
env = { path = "../env" }

async-trait = { version = "0.1.59" }
tracing = { version = "0.1.37" }
deadpool-postgres = { version = "0.10.3" }
lapin = { version = "2.1.1" }
paho-mqtt = { version = "0.11" }
actix-web = { version = "4.2.1" }

