[package]
name = "health-readiness"
version = "0.1.0"
edition = "2021"

[features]
mqtt = ["dep:paho-mqtt"]
rabbitmq = ["dep:lapin"]
postgres = ["dep:deadpool-postgres"]

[dependencies]
http-components = { path = "../http_components" }
configs = { path = "../configs" }

async-trait = { version = "0.1.72" }
tracing = { version = "0.1.37" }
actix-web = { version = "4.3.1" }
thiserror = { version = "1.0.44" }

paho-mqtt = { version = "0.12.1", optional = true }

lapin = { version = "2.3.1", optional = true }

deadpool-postgres = { version = "0.10.5", optional = true }

