[package]
name = "http-components"
version = "0.1.0"
edition = "2021"

[features]
tracing = ["dep:otel"]
metrics = ["dep:otel", "dep:opentelemetry-semantic-conventions", "dep:opentelemetry-prometheus", "dep:prometheus"]
openapi = ["dep:utoipa"]
auth = ["dep:auth"]
validator = ["dep:validator"]

[dependencies]
otel = { path = "../otel", optional = true }
auth = { path = "../auth", optional = true }

actix-web = { version = "4.4.0" }
actix-http = { version = "3.4.0" }
actix-cors = { version = "0.6.4" }
serde = { version = "1.0.190", features = ["derive"] }
serde_json = { version = "1.0.108" }
tracing = { version = "0.1.37" }
futures-util = { version = "0.3.28" }
opentelemetry = { version = "0.20.0" }

utoipa = { version = "3.5.0", optional = true }

validator = { version = "0.16.1", features = ["derive"], optional = true }

opentelemetry-semantic-conventions = { version = "0.12.0", optional = true }
opentelemetry-prometheus = { version = "0.13.0", optional = true }
prometheus = { version = "0.13.3", optional = true }