[package]
name = "traces"
version = "0.1.0"
edition = "2021"

[dependencies]
configs = { path = "../configs" }

opentelemetry = { version = "0.20.0", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.13.0", features = ["tonic", "tls", "tls-roots"] }
tracing = { version = "0.1.37" }
serde = { version = "1.0.180", features = ["derive"] }
tonic = { version = "0.9.2", features = ["tls"] }
tokio = { version = "1.29.1", features = ["default"] }