[package]
name = "auth"
version = "0.1.0"
edition = "2021"

[dependencies]
env = { path = "../env" }

serde = { version = "1.0.159", features = ["derive"] }
serde_json = { version = "1.0.95" }
tracing = { version = "0.1.37" }
async-trait = { version = "0.1.67" }
opentelemetry = { version = "0.19.0" }
alcoholic_jwt = { version =  "4091.0.0 " }
tokio = { version = "1.27.0", features = ["sync"] }
reqwest = { version = "0.11.16", features = ["json"] }