[package]
name = "auth"
version = "0.1.0"
edition = "2021"

[dependencies]
env = { path = "../env" }

serde = { version = "1.0.152", features = ["derive"] }
alcoholic_jwt = { version = "4091.0.0" }
reqwest = { version = "0.11.14", features = ["json"] }
async-trait = { version = "0.1.64" }
tracing = { version = "0.1.37" }
opentelemetry = { version = "0.18.0" }
