[package]
name = "logging"
version = "0.1.0"
edition = "2021"

[dependencies]
errors = { path = "../errors" }
env = { path = "../env" }
tracing-bunyan-formatter = { version = "0.3.6" }
tracing-subscriber = { version = "0.3.16" }
tracing-log = { version = "0.1.3" }
tracing = { version = "0.1.37" }