[package]
name = "mqtt"
version = "0.1.0"
edition = "2021"

[features]
mocks = ["dep:mockall"]

[dependencies]
errors = { path = "../errors" }
env = { path = "../env" }
traces = { path = "../traces" }
opentelemetry = { version = "0.18.0" }
tracing = { version = "0.1.37" }
async-trait = { version = "0.1.59" }
bytes = { version = "1.2.1", features = ["serde"] }
paho-mqtt = { version = "0.11" }
serde = { version = "1.0.150", features = ["derive"] }
serde_json = { version = "1.0.89" }
futures-util = { version = "0.3.25" }

# Used only with feature mock
mockall = { version = "0.11.3", optional = true }

[dev-dependencies]
mockall = { version = "0.11.3" }
tokio = { version = "1.22.0" }