[package]
name = "amqp"
version = "0.1.0"
edition = "2021"

[features]
mocks = ["dep:mockall"]

[dependencies]
errors = { path = "../errors" }
env = { path = "../env" }
traces = { path = "../traces" }

lapin = { version = "2.1.1" }
opentelemetry = { version = "0.18.0" }
uuid = { version = "1.2.2", features = ["v4"] }
async-trait = { version = "0.1.59" }
tracing = { version = "0.1.37" }
serde_json = { version = "1.0.89" }
serde = { version = "1.0.150", features = ["derive"] }
tokio = { version = "1.23.0", features = ["default"] }
futures-util = { version = "0.3.25"}

# Used only with feature mock
mockall = { version = "0.11.3", optional = true }

[dev-dependencies]
mockall = { version = "0.11.3" }