[package]
name = "sql-pool"
version = "0.1.0"
edition = "2021"

[features]
postgres = ["dep:deadpool-postgres", "dep:tokio-postgres"]
sqlite = ["dep:r2d2", "dep:r2d2_sqlite", "dep:rusqlite", "dep:tracing"]

[dependencies]
env = { path = "../env" }
errors = { path = "../errors" }

deadpool-postgres = { version = "0.10.2", optional = true }
tokio-postgres = { version = "0.7.7",  features = ["with-chrono-0_4", "with-uuid-0_8"], optional = true }

r2d2 = { version = "0.8.10", optional = true }
r2d2_sqlite = { version = "0.21.0", optional = true }
rusqlite = { version =  "0.28.0", optional = true }
tracing = { version = "0.1.37", optional = true }

# chrono = { version = "0.4.22" }
# async-trait = { version = "0.1.59" }
# tokio = { version = "1.23.0", features = ["default"] }