[package]
name = "metrics"
version = "0.1.0"
edition = "2021"

[dependencies]
env = { path = "../env" }

opentelemetry = { version = "0.19.0", features = ["rt-tokio", "metrics"] }
opentelemetry-otlp = { version = "0.12.0", features = ["tonic", "metrics", "grpc-tonic" , "tls", "tls-roots"] }
tracing = { version = "0.1.37" }
tonic = { version = "0.8.3", features = ["tls"] }
tokio = { version = "1.27.0", features = ["default"] }