[package]
name = "metrics"
version = "0.1.0"
edition = "2021"

[dependencies]
configs = { path = "../configs" }

opentelemetry = { version = "0.20.0", features = ["rt-tokio", "metrics"] }
opentelemetry-otlp = { version = "0.13.0", features = ["tonic", "metrics", "grpc-tonic" , "tls", "tls-roots"] }
opentelemetry_sdk = { version = "0.20.0", features = ["metrics"] }
tracing = { version = "0.1.37" }
tonic = { version = "0.9.2", features = ["tls"] }
tokio = { version = "1.29.1", features = ["default"] }